In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
# Files opening
path = "./DATA/"
trainingSetValues = pd.read_csv(path + "TrainingSetValues.csv", sep=",")
trainingSetLabels = pd.read_csv(path + "TrainingSetLabels.csv", sep=",")
testSetValues = pd.read_csv(path + "TestSetValues.csv", sep=",")

# Deleting columns "wpt_name" and "num_private" because we think they are useless
del trainingSetValues["wpt_name"]
del trainingSetValues["num_private"]
del testSetValues["wpt_name"]
del testSetValues["num_private"]

In [28]:
trainingSetValues["amount_tsh"].count()
trainingSetValues["amount_tsh"].value_counts()

0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
250000.0        1
220.0           1
350000.0        1
138000.0        1
38000.0         1
Name: amount_tsh, Length: 98, dtype: int64

In [9]:
testSetValues.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [21]:
# List number of NaN values in data

def get_nan_count(column):
    '''
    column - the column for which we want the NaN value count.
    This function returns the number of NaN values in a specific column.
    '''
    nan_count = column.isnull().sum()
    return nan_count

def list_nb_nan_columns(data):
    for column in data:
        nb = get_nan_count(data[column])
        if nb != 0:
            totalCol = data[column].count() + nb
            print(column,":", nb, "/", totalCol, "=", round(nb/totalCol *100 ,3), "%")
        
        
print("\nNaN data in trainingSetValues")
list_nb_nan_columns(trainingSetValues)
print("\nNaN data in testSetValues")
list_nb_nan_columns(testSetValues)

 NaN data in trainingSetValues
funder : 3635 / 59400 = 6.12 %
installer : 3655 / 59400 = 6.153 %
subvillage : 371 / 59400 = 0.625 %
public_meeting : 3334 / 59400 = 5.613 %
scheme_management : 3877 / 59400 = 6.527 %
scheme_name : 28166 / 59400 = 47.418 %
permit : 3056 / 59400 = 5.145 %

 NaN data in testSetValues
funder : 869 / 14850 = 5.852 %
installer : 877 / 14850 = 5.906 %
subvillage : 99 / 14850 = 0.667 %
public_meeting : 821 / 14850 = 5.529 %
scheme_management : 969 / 14850 = 6.525 %
scheme_name : 7092 / 14850 = 47.758 %
permit : 737 / 14850 = 4.963 %